@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@100;400&display=swap');

body{
    font-size: 62.5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
}

aside p{
    color: green;
}

li{
    font-size: 1.25rem;
}

#first-section p{
    text-decoration: underline;
}

#first-section ul li p{
    text-decoration: none;
}

.small{
    font-size: small;
}

#comment{
    background-color: lightblue;
}

ul{
    list-style: none;
}


